/* SEKCJA TRZECIA */

.section-pricing {
	background-color: var(--color-white);
	padding-bottom: 100px;
}
.section-pricing-title {
	margin-top: 70px;
	font-size: 2.5rem;
	text-align: center;
}
.section-pricing-boxes {
	margin-top: 150px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-pricing-box {
	height: 600px;
	width: 400px;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s;
}

.section-pricing-box .price1 {
	margin-top: 40px;
	font-size: 3.75rem;
	color: var(--color-redish);
}
.section-pricing-box .price2 {
	margin-top: 40px;
	color: var(--color-primary);
	font-size: 3.75rem;
}
.section-pricing-box .price3 {
	margin-top: 40px;
	color: var(--color-green);
	font-size: 3.75rem;
}
.section-pricing-box span {
	margin-top: 50px;
	font-weight: 700;
	font-size: 1.75rem;
}
.basic {
	margin-top: 50px;
}
.limited-offer {
	/* margin-top: 20px; */
	font-weight: bold;
}
.section-pricing-box1 {
	border: 1px solid var(--color-redish);
}
.section-pricing-box2 {
	border: 1px solid var(--color-primary);
	box-shadow: 5px 10px 27px #07ace629;
}
.section-pricing-box3 {
	border: 1px solid var(--color-green);
}
.section-pricing-box .redish {
	margin-top: 100px;
	margin-bottom: 75px;
}
.section-pricing-box .primary-green {
	margin-top: 50px;
	margin-bottom: 75px;
}

.section-pricing-box .redish li {
	font-size: 20px;
	margin-top: 30px;
}
.section-pricing-box .primary-green li {
	font-size: 20px;
	margin-top: 30px;
}
.green::before {
	content: url(./assets/Ckechmark-1.svg);
	margin: 10px;
}
.red::before {
	content: url(./assets/Close.svg);
	margin: 10px;
}
.btn-price {
	border-radius: var(--button-radius);
	font-size: 22px;
	padding: 15px 80px;
	border: none;
}
.btn-price a {
	text-decoration: none;
	color: var(--color-white);
}
.btn1 {
	background-color: var(--color-redish);
	transition: 0.3s;
}
.btn2 {
	background-color: var(--color-primary);
	transition: 0.3s;
}
.btn3 {
	background-color: var(--color-green);
	transition: 0.3s;
}
.section-pricing-box:hover {
	scale: 1.2;
}
.btn1:hover {
	background-color: #9a2941;
}
.btn2:hover {
	background-color: #097dab;
}
.btn3:hover {
	background-color: #41a082;
}
