/* SEKCJA PIERWSZA */

.section-sales {
	font-family: var(--font-raleway);
	margin: 90px 0;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section-info {
	display: flex;
	margin-top: 80px;
}
.section-info-box {
	width: 150px;
	flex-direction: column;
	text-align: center;
	position: relative;
}

.section-info-box .img {
	height: 52px;
	position: relative;
	left: 18px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.section-info-box1::before {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	height: 52px;
	width: 52px;
	border-radius: 50%;
	background-color: var(--color-redish);
}
.section-info-box2::before {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	height: 52px;
	width: 52px;
	border-radius: 50%;
	background-color: var(--color-primary);
}
.section-info-box3::before {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	height: 52px;
	width: 52px;
	border-radius: 50%;
	background-color: var(--color-green);
}
.section-info-box .number {
	height: 25px;
	margin-bottom: 20px;
}
.section-info-box span {
	/* margin-top: 20px; */
	color: var(--color-black);
	font-weight: 800;
	letter-spacing: 4px;
}
.section-info-box p {
	/* margin-top: 20px; */
	color: var(--color-grey);
}
.section-box h2 {
	font-size: 2.5rem;
}
