/* SEKCJA DRUGA */

.section-benefits {
	width: 100vw;
	font-family: var(--font-raleway);

	background-color: var(--color-light-grey);
	padding-top: 50px;
	padding-bottom: 100px;
}

.section-benefits-box {
	background-color: var(--color-white);
	height: 500px;
	margin-top: 60px;
	display: flex;
	position: relative;
	border-radius: 10px;
}
.section-benefits-img {
	position: relative;
}
.section-benefits-img-laptop {
	height: 50%;
	margin-top: 130px;
	z-index: 1;
	position: relative;
}
.section-benefits-position {
	position: relative;
}
.section-benefits-center-img1::before {
	position: absolute;
	top: 110px;
	right: 180px;
	content: '';
	background-color: var(--color-redish);
	width: 200px;
	height: 200px;
	border-radius: 30px;
	transform: rotate(45deg);
	z-index: 0;
}
.section-benefits-img-iphone {
	height: 400px;
	z-index: 1;
	position: relative;
	margin-top: 50px;
	/* margin-bottom: 30px; */
	margin-left: 90px;
	margin-right: 160px;
}
.section-benefits-center-img2::before {
	position: absolute;
	top: 50px;
	left: 80px;
	content: '';
	background-color: var(--color-primary);
	width: 400px;
	height: 400px;
	border-radius: 50%;
	z-index: 0;
}
.section-benefits-img-trumpet {
	height: 50%;
	margin: 20px;
}

.section-benefits-center-img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 566px;
}
.section-benefits-text {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.section-benefits-text p {
	margin-left: 50px;
	width: 400px;
	margin-top: 30px;
	line-height: 1.65rem;
	margin-bottom: 60px;
}
.section-benefits-text h3 {
	margin-left: 50px;
	font-size: 2.1875rem;
}
.section-benefits-text .laptop {
	width: 300px;
}
.section-benefits-text .iphone {
	width: 300px;
}
.section-benefits-text .trumpet {
	width: 330px;
}
.section-benefits-trumpet {
	height: 500px;
	margin-top: 60px;
	display: flex;
	position: relative;
	justify-content: space-between;
}

.section-benefits-text-left {
	border-radius: 10px;
	background-color: var(--color-white);
	width: 600px;
}
.section-benefits-text-right {
	border-radius: 10px;
	background-color: var(--color-green);
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.border-bottom1 {
	margin-left: 50px;
	width: 320px;
	border-bottom: 4px solid var(--color-redish);
}
.border-bottom2 {
	margin-left: 50px;
	width: 320px;
	border-bottom: 4px solid var(--color-primary);
}
.border-bottom3 {
	margin-left: 50px;
	width: 320px;
	border-bottom: 4px solid var(--color-green);
}
