:root {
	--color-primary: #08a6e4;
	--color-primary-shadow: rgba(7, 172, 230, 0.16);
	--color-redish: #fb3b64;
	--color-green: #55dfb4;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #a5a5a5;
	--color-light-grey: #f7f7f7;
	--button-radius: 35px;
	--font-raleway: 'Raleway', sans-serif;
	--font-open-sans: 'Open Sans', sans-serif;
}

* {
	box-sizing: border-box;
}
body {
	font-family: var(--font-open-sans);
}
.container {
	width: 1352px;
	margin: 0 auto;
}


/* NAGIGACJA */


.header {
	height: 80px;
	box-shadow: 0px 3px 6px #00000029;
}
.header > .container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .logo {
	text-decoration: none;
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--color-primary);
}
.nav {
	height: 100%;
}
.nav ul {
	display: flex;
	gap: 50px;
	margin: 30px;
}
.nav-link {
	color: var(--color-grey);
	font-weight: 700;
	font-size: 0.8125rem;
	text-transform: uppercase;
	padding: 30px 20px 28px;
	border-bottom: 4px solid transparent;
	letter-spacing: 0.1875rem;
	text-decoration: none;
}
.nav-link:hover {
	color: var(--color-black);
	border-color: var(--color-primary);
}

/* MAIN */

.main {
	height: 100vh;
	font-family: var(--font-raleway);
}
.main-box {
	margin-top: 150px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-text {
text-align: center;
}
.main .title {
	font-size: 3.125rem;
	margin-bottom: 20px;
}
.main .text {
	font-size: 1rem;
	margin-bottom: 50px;
}
.main .btn a {
	text-decoration: none;
	color: var(--color-white);
	font-weight: bold;
}
.main .btn {
	background-color: var(--color-primary);
	border: none;
	border-radius: 25px;
	padding: 25px 150px;
}
.main .img {
	
}


